table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: var(--light-blue);
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: lightgray;
}
