<header>
  <div class="container">
    <div id="logo-container">
      <img src="/images/logo.png" alt="Logo Advokatur Muster" class="logo" />
      <h1>Advokatur Muster</h1>
      <p id="subtitle">R E C H T S A N W Ä L T I N</p>
    </div>
    <nav>
      <button class="burger">☰</button>
      <div class="inner-nav">
        <a href="index.html">Home</a>
        <span>|</span>
        <a href="uebermich.html">Über mich</a>
        <span>|</span>
        <a href="taetigkeitsgebiete.html">Tätigkeitsgebiete</a>
        <span>|</span>
        <a href="publikationen.html">Publikationen</a>
        <span>|</span>
        <a href="kontakt.html">Kontakt</a>
      </div>
    </nav>
  </div>
  <script src="/scripts/navbar.js"></script>
</header>
